<div class="container">
  <div class="title">
    <h1>Welcome to FranOnWheels</h1>
    <p>Licenses we offer</p>
  </div>
  <div class="row">
    <app-img-container-home></app-img-container-home>
  </div>
  <div class="title">
    <h1>Find us</h1>
  </div>
  <div class="row">
    <app-location-container-home></app-location-container-home>
  </div>
  <div class="title">
    <h1>Testimonials</h1>
  </div>
  <div class="row">
    <app-testimonials-container-home></app-testimonials-container-home>
  </div>
</div>
<app-footer></app-footer>
