<div class="container">
  <div class="title">
      <h1>Welcome to FranOnWheels</h1>
      <p>Select what you want to learn</p>
  </div>
  <div class="image-container">
      <div class="image-item">
          <h3>Image 1</h3>
          <img [src]="bikeUrl" alt="Image 1">
      </div>
      <div class="image-item">
          <h3>Image 2</h3>
          <img [src]="carUrl" alt="Image 2">
      </div>
      <div class="image-item">
          <h3>Image 3</h3>
          <img [src]="truckUrl" alt="Image 3">
      </div>
  </div>
</div>
