<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container">
  <div class="title">
    <h1>Welcome to FranOnWheels</h1>
    <p>Licenses we offer</p>
  </div>
  <div class="row">
    <app-img-container-home></app-img-container-home>
  </div>
  <div class="title">
    <h1>Find us</h1>
  </div>
  <div class="row">
    <app-location-container-home></app-location-container-home>
  </div>
  <div class="title">
    <h1>Testimonials</h1>
  </div>
  <div class="row">
    <app-testimonials-container-home></app-testimonials-container-home>
  </div>
</div>
<button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-orange btn-floating btn-lg" id="btn-back-to-top">
  <i class="fas fa-arrow-up"></i>
</button>
<app-footer></app-footer>
