.form-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.login-form-container, .register-form-container {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.error-message {
  color: #dc3545;
}

.btn-link {
  color: #007bff;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
}

.btn-link:hover {
  text-decoration: underline;
}
