<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <h3>Bike License</h3>
          <img [src]="bikeUrl" alt="Image 1" class="img-fluid fixed-size-img">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <h3>Car License</h3>
          <img [src]="carUrl" alt="Image 2" class="img-fluid fixed-size-img">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <h3>Truck License</h3>
          <img [src]="truckUrl" alt="Image 3" class="img-fluid fixed-size-img">
        </div>
      </div>
    </div>
  </div>
</div>
