<div class="form-container">
  <div class="form-container">
    <div *ngIf="!user">
      <p>To book a class, first log in.</p>
      <a routerLink="/logreg">Log in/Register</a>
    </div>
  <form *ngIf="user" (submit)="onSubmit($event)">
    <label for="license">Select License:</label>
    <select id="license" name="license" (change)="onLicenseSelect($event)" required>
      <option value="">Select a vehicle type</option>
      <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.name">{{ vehicleType.name }}</option>
    </select>

    <label for="vehicle">Select Vehicle:</label>
    <select id="vehicle" name="vehicle" (change)="onVehicleSelect($event)" required>
      <option value="">Select a vehicle</option>
      <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{ vehicle.model }}</option>
    </select>

    <label for="selectedDate">Select Date:</label>
    <input type="date" id="selectedDate" name="selectedDate" (change)="onDateSelect($event)" required>

    <label for="timeSlot">Select Time Slot:</label>
<select id="timeSlot" name="timeSlot" (change)="onTimeSlotSelect($event)" required>
  <option value="">Select a time slot</option>
  <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">{{ timeSlot }}</option>
</select>

    <button type="submit">Submit</button>
  </form>

</div>
