.row{

padding-bottom: 50px;

}
.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonials-item {
  flex: 0 0 calc(50% - 100px);
  margin-bottom: 20px;
  padding: 20px;
}

.testimonials-item img {
  width: 100%;
  max-width: 100px;
}

.testimonials-item p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .testimonials-item {
    flex: 0 0 calc(100% - 20px);
  }
}
